h1{
  text-align:center;
  border-radius:10px;
  font-family:georgia;
  padding:5px;
}

label.control-label{
  font-size:large;
}

input#phone[type=number]::-webkit-outer-spin-button, input#phone[type=number]::-webkit-inner-spin-button{
  margin:0;
  -webkit-appearance:none;
}

div#div_submit{
  text-align:center;
}

button.btn.btn-success.btn-lg{
  width:8em;
  margin:10px;
  border-radius:15px;
  box-shadow:2px 2px 20px black;
}

button.btn.btn-success.btn-lg:active{
  transition:box-shadow .1s;
  box-shadow:0 0 0 black;
}

input[type="text"].form-control{
}

