<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center bg-primary">Register </h1>
        <form>
            <div class="form-group">
                <label class="control-label">Nitrogen Content (N)</label>
                <input class="form-control input-lg" type="number" name="nitrogen" placeholder="4.0">
            </div>
            <div class="form-group">
                <label class="control-label">Phosphorus Content (P)</label>
                <input class="form-control input-lg" type="number" name="phosphorus">
            </div>
            <div class="form-group">
                <label class="control-label">Potassium Content (K)</label>
                <input class="form-control input-lg" type="number" name="potassium">
            </div>
            <div class="form-group">
                <label class="control-label">Crop Suggested</label>
                <input class="form-control input-lg" type="text" name="crop">
            </div>
            <div class="form-group">
                <label class="control-label">Fertilizer Suggested</label>
                <input class="form-control input-lg" type="text" name="fertilizer">
            </div>
            <div class="form-group">
    <label class="control-label">Phone Number</label>
    <input type="number" name="phone" required placeholder="9441234567" class="form-control input-lg" id="phone" />
    <div id="div_submit">
        <button class="btn btn-success btn-lg" type="submit">Submit </button>
    </div>
</div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>